---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Cristian Hernandez - Senior Fullstack Developer with over 10 years of experience in .NET, Node.js, React, Angular, and SQL. Based in Medellín, Colombia." />
    <title>Cristian Hernandez | Senior Fullstack Developer</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    <!-- GitHub Pages support: custom domain and meta -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body class="bg-gray-50 text-gray-900 font-sans">
    <Header />
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
    <Contact />
    <Footer />
  </body>
</html>
