---
// Footer section
---
<footer class="bg-white border-t py-6 mt-12">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
    <div class="text-gray-500 text-sm">&copy; 2025 Cristian Hernandez</div>
    <div class="flex space-x-4 mt-4 md:mt-0">
      <a href="https://github.com/clystian" target="_blank" class="text-gray-400 hover:text-gray-900"><i class="fa-brands fa-github"></i></a>
      <a href="https://gitlab.com/clystian" target="_blank" class="text-gray-400 hover:text-gray-900"><i class="fa-brands fa-gitlab"></i></a>
      <a href="https://stackoverflow.com/users/1669574/clystian" target="_blank" class="text-gray-400 hover:text-gray-900"><i class="fa-brands fa-stack-overflow"></i></a>
      <a href="https://www.linkedin.com/in/clystian/" target="_blank" class="text-gray-400 hover:text-gray-900"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://twitter.com/clystian_" target="_blank" class="text-gray-400 hover:text-gray-900"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.gitshowcase.com/clystian" target="_blank" class="text-gray-400 hover:text-gray-900"><i class="fa-solid fa-briefcase"></i></a>
    </div>
  </div>
</footer>
